body {
    margin: 0;
}

#portada-body {
    background-color: black;
}

#portada-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.footer {
    height: 60px;
    color: #fff;
    z-index: 10;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    background-color: black;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#opc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-portada {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: transparent;
    text-decoration: none;
}

.menu-portada:hover {
    color: orange
}

.content-display {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
}

#container-actores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-actores {
    border: 1px solid black;
    min-width: 200px;
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    text-decoration: none;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.life,
.datos-curiosos,
.pres-container {
    width: 80%;
}

.datos-curiosos ul {
    list-style: none;
}

.datos-curiosos ul li p {
    font-weight: bold;
}

#enlaces-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.enlace {
    display: flex;
}

.div-container {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
}

.div-img {
    width: 20%;
    min-width: 270px;
    height: 250px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}



@keyframes moverDerechaIzquierda {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(calc(100vw - 100%));
    }

    100% {
        transform: translateX(0);
    }
}

#svg_img {
    animation: moverDerechaIzquierda 50s ease-in-out infinite;
}

@media screen and (max-width:500px) {
    .enlace {
        display: block;
    }

    .menu-portada {
        width: 10rem;
    }
}